@model VideoAPI.Models.Models.CategoryModel

@{
    ViewData["Title"] = "Add new category";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="jumbotron text-center">
            <form method="post" action="~/dashboard/addcategory">
                <label>Имя категории: </label>
                <input type="text" name="Name" placeholder="e.g. Новосибирск" />
                <hr />
                <input type="submit" value="Создать" class="btn btn-success btn-lg m-3" />
                <a class="btn btn-primary btn-lg" href="/dashboard/showcategories" role="button">Назад</a>
            </form>
            <hr class="my-4">
        </div>
    </div>
</div>