<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-light mb-3" style="max-width: 25rem;">
                <div class="card-header font-weight-bold text-center"><i class="fas fa-eye fa-lg"> Категории</i> </div>
                <div class="card-body text-center">
                    <a href="/dashboard/showall" class="btn btn-primary"><i class="fas fa-th-list fa-lg"> Показать</i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3" style="max-width: 25rem;">
                <div class="card-header font-weight-bold text-center"><i class="fas fa-eye fa-lg"> Видео</i> </div>
                <div class="card-body text-center">
                    <a href="/dashboard/showvideos" class="btn btn-primary"><i class="fas fa-th-list fa-lg"> Показать</i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3" style="max-width: 25rem;">
                <div class="card-header font-weight-bold text-center"><i class="fas fa-eye fa-lg"> Пользователи</i> </div>
                <div class="card-body text-center">
                    <a href="/dashboard/showusers" class="btn btn-primary"><i class="fas fa-th-list fa-lg"> Показать</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
