@model VideoAPI.Models.Models.CategoryModel

@{
    ViewData["Title"] = "One category";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="jumbotron text-center">
            <h2>Категория: @Model.Name</h2>
            <p class="lead">Category ID : @Model.Id</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/dashboard/showcategories" role="button">Назад</a>
        </div>
    </div>
</div>